.player {
  position: absolute;
  top: 20px;
  left: 20px;
}

.tracklist {
  background-color: #F5F5F5;
  color: black;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 10px;
  width: 400px;
  height: 200px;
  border: 1px solid #DCDCDC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.searchField {
  width: 100%;
  font-style: italic;
}

.searchField:focus {
  font-style: normal;
}

.tracklist ol {
  margin: 0;
  padding: 10px 0 10px 20px;
  height: 165px;
  overflow-y: scroll;
}

.tracklist .trackListCell {
  height: 25px;
  width: 360px;
  position: relative;
  border: none;
  border-radius: 4px;
  padding-top: 5px;
  padding-left: 2px;
  transition-property: background-color;
  transition-duration: 0.1s;
}

.tracklist .trackListCell:hover {
  background-color: #ADD8E6;
  cursor: default;
}

.tracklist .playingTrack {
  background-color: darkturquoise;
}

.tracklist .trackListCell .track-info {
  max-width: 315px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 5px;
}

.tracklist .trackListCell .duration {
  margin-left: 3px;
  width: 42px;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 0;
  padding-right: 3px;
}

.display {
  height: 80px;
  background: linear-gradient(to bottom, #A9A9A9, #2F4F4F);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.previous {
  box-shadow: 0px 0px 20px 2px black;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 20px;
  background-image: url("./img/play_rotate.png"), url("./img/play_rotate.png");
  background-size: 11px 16px, 11px 16px;
  background-repeat: no-repeat, no-repeat;
  background-position: 3px 5px, 10px 5px;
}

.play {
  box-shadow: 0px 0px 20px 2px black;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 60px;
  background-image: url("./img/play.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 6px 5px;
}

.pause {
  box-shadow: 0px 0px 20px 2px black;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 60px;
  background-image: url("./img/pause.png");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 6px 6px;
}

.next {
  box-shadow: 0px 0px 20px 2px black;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 100px;
  background-image: url("./img/play.png"), url("./img/play.png");
  background-size: 11px 16px, 11px 16px;
  background-repeat: no-repeat, no-repeat;
  background-position: 5px 5px, 12px 5px;
}

.previous,
.play,
.next,
.pause {
  border-radius: 50%;
}

.previous:hover,
.play:hover,
.next:hover,
.pause:hover {
  cursor: pointer;
}

.play:hover {
  background-image: url("./img/play-hover.png");
}

.pause:hover {
  background-image: url("./img/pause-hover.png");
}

.next:hover {
  background-image: url("./img/play-hover.png"), url("./img/play-hover.png");
}

.previous:hover {
  background-image: url("./img/play_rotate-hover.png"), url("./img/play_rotate-hover.png");
}

.volumeBar {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
  background: rgb(55,55,55);
  position: absolute;
  top: 15px;
  right: 20px;
  width: 150px;
  height: 7px;
  padding: 0;
}

.volumeBar:hover {
  opacity: 1;
}

.volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #A9A9A9, #2F4F4F);
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px black;
  z-index: 1;
}

.volumeBar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #A9A9A9, #2F4F4F);
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px black;
  z-index: 1;
}

.volumeBar::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #A9A9A9, #2F4F4F);
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px black;
  z-index: 1;
}

.volume-text {
  color: rgb(55, 55, 55);
  position: absolute;
  top: 11px;
  right: 188px;
  font-size: 12px;
  font-weight: bold;
}

.volume-text:hover {
  cursor: default;
}

.progressBar {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
  background: rgb(55,55,55);
  position: absolute;
  top: 52px;
  left: 5px;
  width: 360px;
  height: 15px;
  padding: 0px;
}

.progressBar:hover {
  opacity: 1;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
  background: linear-gradient(to left bottom, #A9A9A9, #2F4F4F);
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px black;
  z-index: 1;
  border-radius: 0;
}

.progressBar::-moz-range-thumb {
  width: 10px;
  height: 10px;
  -moz-transform: rotate(-45deg);
  background: linear-gradient(to left bottom, #A9A9A9, #2F4F4F);
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px black;
  z-index: 1;
  border-radius: 0;
}

.progressBar::-ms-thumb {
  width: 10px;
  height: 10px;
  -ms-transform: rotate(-45deg);
  background: linear-gradient(to left bottom, #A9A9A9, #2F4F4F);
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px black;
  z-index: 1;
  border-radius: 0;
}

.elapsedTime {
  color: white;
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 12px;
}

.elapsedTime:hover {
  cursor: default;
}